*{
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: rgba(0,0,0,.75);
	font-family: sans-serif;
}
#chartDiv{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.domain {
	display: none;
}
.tick line {
	stroke: #C0C0BB;
}
.tick text, .legendCells text {
	fill: #8E8883;
	font-size: 28pt;
	font-family: sans-serif;
}
.axis-label, .legend-label {
	fill: #635F5D;
	font-size: 20pt;
	font-family: sans-serif;
}

.pieLegend .legendCells text{
	font-size: 20px;
}